* {
  margin: 0;
  padding: 0;
}

.page-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
}

.loading-container {
  background-color: #f2c6de;
  -webkit-transition: background-color 200ms linear;
  -ms-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
}

.page-header {
  font-weight: normal;
  margin-bottom: 2rem;
}
